* {
  box-sizing: border-box;
  font-family: arial;
}
.main-box {
  background-color: hsl(233, 47%, 7%);
  width: 65%;
  height: 70vh;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 {
  background-color: hsl(244, 38%, 16%);
  width: 80%;
  height: 60%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  width: 50%;
  height: 80%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  width: 50%;
  height: 100%;
  background: url(/images/image-header-desktop.jpg);
  border-radius: 0 10px 10px 0;
}
.stats {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.text {
  width: 80%;
}
h2 {
  margin-bottom: 1px;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
.stats p {
  margin-top: 1px;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 400;
}
span {
  color: hsl(277, 64%, 61%);
}
h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
#d {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
}
.color-overlay {
  width: 100%;
  height: 100%;
  background: hsl(270, 50%, 50%);
  opacity: 0.7;
}
