* {
  padding: 0;
}
body {
  font-family: 'League Spartan', sans-serif;
  background: url(img/bg-pattern-bottom-desktop.svg);
  background-size: cover;

}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
  margin-left: 3em;
}
.text {
  width: 20%;
  margin-right: 2em;
  padding-left: 15em;
}
.text >p {
  color: hsl(303, 10%, 53%);
}
.ratings {
  width: 50%;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 2em;
}
.r {
  display: flex;
  align-items: center;
  height: 2.5em;
  width: 45%;
  margin: 1em;
  background-color:hsl(300, 24%, 96%);
  padding-left: 1.5em;
}
.r > h3 {
  padding-left: 1em;
  color: hsl(300, 43%, 22%);
}
span {
  padding: 0.2em;
  color: gold;
}
h1 {
  font-size: 2.6em;
  color: hsl(300, 43%, 22%);
}
.r1 {
  margin-left: 3em;
}
.r2 {
  margin-left: 5em;
}
.r3 {
  margin-left: 7em;
}
.s2 {
  display: flex;
  justify-content: center;
}
.testimonial {
  width: 15%;
  height: 50%;
  margin: 2em;
  padding: 2em;
  background-color: hsl(300, 43%, 22%);
  border-radius: 3%;
}
.testimonial > p {
  color: hsl(0, 0%, 100%);
}
.name {
  color:hsl(0, 0%, 100%);
  margin-bottom: 0.3em;
  font-size: 15px;
}
.ver {
  color: hsl(333, 80%, 67%);
  margin-top: 0;
  font-size: 15px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-right: 1em;
}
.t1 {
  margin-top: 1em;
}
.t2 {
  margin-top: 2.5em;
}
.t3 {
  margin-top: 4em;
}
