*{
  padding: 0;
  margin: 0; 
  color: white;
  font-family: 'Lato', sans-serif;
}
main {
  height: 100%;
  width: 100%;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(128,0,128, 0.9)), url(img/mimi-thian-vdXMSiX-n6M-unsplash.jpg);  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-text {
  margin: 30px;
  
}
.contact-form {
  background-color:	rgb(0,0,128, 0.6);
  width: 30%;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  
}
label {
  display: block;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.pieski {
  width: 100%;
  height: 40px;
  color: black;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid white;
  vertical-align: top;
}
.pieski::placeholder {
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#role {
  width: 100%;
  height: 40px;
  color: #6c6c6c;
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid white;
}
option {
  color: black;
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}
#feature {
  width: 100%;
  height: 40px;
  color: #6c6c6c;
  padding-left: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid white;
}
#comment {
  padding-bottom: 30px;
}
#comments {
  height: 100px;
}
#button {
  background-color: green;
  border: transparent;
  color: white;
}
.label2 {
  display: inline;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}
.cb-container {
  margin-top: 10px;
}
input {
  height: 1.4em;
  width: 1.4em;
  font-size: x;
}
.label3 {
  margin-top: 10px;
}