* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #d3d3d3;
}
.hero {
  height: 100vh;
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8% 60px 5%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
#drum {
 padding: 0px 10px 0px 10px;
 font-size: 35px;
}
nav ul li{
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding: 0px 60px 0px 60px;
  letter-spacing: 1px;
  font-size: 20px;
  text-transform: capitalize;

}
nav ul li:hover {
  cursor: pointer;
}
.content {
  text-align: center;
  align-items: center;
  padding-bottom: 120px;
}
.input1 {
  display: block;
  margin: auto;
  align-items: center;
  background-color: white;
  width: 250px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 2px;
}
.input1::placeholder {
  padding-left: 5px;
}
h1 {
  margin-bottom: 10px;
}
button {
  margin-top: 10px;
  color: black;
  padding: 5px 16px 5px 16px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: yellow;
  letter-spacing: 1px;
  border: none;
  transition: transform .4s;
}
button:hover {
  background-color: orange;
}
.main {
  display: grid;
  max-width: 925px;
  margin: auto;
  padding: 10px;
  grid-template-columns: repeat(1, 1fr);
  justify-content: flex-start;
}
.column1 {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
#fire {
  height: 100%;
  font-size: 56px;
  padding-right: 30px;
  color: orange;
}
#battery {
  height: 100%;
  font-size: 56px;
  padding-right: 30px;
  color: orange;
}
#car {
  height: 100%;
  font-size: 56px;
  padding-right: 30px;
  color: orange;
}
.text1 h3 {
  font-size: 24px;
}
.text1 p {
  font-size: 16px;
}
.video {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  margin-top: -100px;
}
.items {
  display: flex;
  max-width: 1130px;
  margin: auto;
  padding-top: 60px;
  justify-content: center;
  flex-direction: row;
}
.container1 {
  margin-left: 30px;
  margin-right: 30px;
  padding: 60px;
  height: 100%;
  border: solid 1px black;
}
.h3text {
  justify-content: flex-start;
}