:root {
  --sub-heading: hsl(276, 100%, 81%);
  --chat-left-text: hsl(276, 55%, 52%);
  --chat-right-text: hsl(271, 15%, 43%);
  --placeholder-text: hsl(206, 8%, 97%);
  --h1-text: hsl(271, 36%, 24%);
  --h1-p-text: hsl(270, 7%, 64%);
  --gradient1: hsl(293, 100%, 63%);
  --gradient2: hsl(264, 100%, 61%);
  --white: hsl(0, 0%, 100%);
  --app-bg: hsl(270, 20%, 96%);
  --submit-bg: hsl(271, 36%, 24%);
  --radio-outline:  hsl(289, 100%, 72%);
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  z-index: 3;
  margin: 0;
  background-color: hsl(308, 22%, 93%);
}
main:before {
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, var(--gradient1), var(--gradient2));
    -webkit-clip-path: polygon(0 81%, 44% 49%, 59% 0, 0 0, 0 43%);
    clip-path: polygon(0 81%, 44% 49%, 59% 0, 0 0, 0 43%);
    margin-bottom: 2vw;
    z-index: 1;
}
main {
  display: flex;
  flex-direction: column;
}

.phone {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 26em;
  height: 52em;;
  background-color: white;
  border-radius: 35px;
  margin-inline: auto;
  padding: 0.8em;
  position: relative;
  z-index: 2;
}
.avatar {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: white 2px solid;
}
.dog {
  width: 4em;
  height: 4em;
  border-radius: 8%;
  margin: 0.4em 0 0.4em 0.4em;
}
.info-text {
  margin-left: 1em;
}
.info-text h3 {
  margin-bottom: 0.15em;
  color: var(--white);
  font-weight: 400;
}
.info-text p {
  margin-top: 0.15em;
  color: var(--sub-heading);
}
.info {
  display: flex;
  align-items: center;
}
.header-info {
  display: flex;
  align-items: center;
}
.icon1 {
  padding: 0.5em;
  color: var(--white);
}
.icon2 {
  margin-right: 0.5em;
  color: var(--white);
}
.p-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(-45deg, var(--gradient1), var(--gradient2));
  border-radius: 35px 35px 5px 5px;
  padding: 1.25em 1em 0 1em;
}
.white-thing {
  background-color: white;
  width: 12em;
  height: 2.3em;
  border-radius: 35px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
}
.gray {
  background-color: var(--placeholder-text);
  height: 100%;
  border-radius: 35px;
  padding-bottom: 0.5em;
}
.message {
  width: 70%;
}
.left {
  color: var(--chat-left-text);
  background-color: hsl(308, 22%, 93%);
  border-radius: 15px 15px 15px 8px;
  padding: 0.7em;
  margin-left: 0.8em;
}
.right {
  background-color: var(--white);
  border-radius: 15px 15px 8px 15px;
  padding: 0.7em;
  display: block;
  margin-left: auto;
  margin-right: 0.8em;
  width: 71%;
  color: var(--chat-right-text);
  box-shadow: 0px 2px 1px 1px var(--white);
}
.images {
  display: flex;
  justify-content: end;
  margin-right: 0.8em;
  gap: 0.5em;
}
.right2 {
  width: 45%;
  text-align: end;
}
.price-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  background: linear-gradient(-45deg, var(--gradient2), var(--gradient1));
  border-radius: 15px 15px 15px 8px;
  padding: 0 1.2em;
  color: var(--white);
  margin-left: 0.8em;
  margin-top: 0.8em;
}
.msg-submit {
  display: flex;
  justify-content: space-between;
  margin: 0.8em;
  background-color: white;
  align-items: center;
  padding: 0.2em 0.7em;
  border-radius: 40px;
  color: var(--h1-p-text)
}
.circle {
  background-color: var(--submit-bg);
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.text {
  text-align: center;
  max-width: 60%;
  margin-inline: auto;
  margin-bottom: 5em;
}
.text > h1 {
  color: var(--h1-text);
  font-size: 2.5em;
  font-weight: 500;
}
.text > p {
  color: var(--h1-p-text);
  font-size: 16px;
}
@media (min-width: 65em) {
  main {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .text {
    width: 30%;
  }
  .text h1 {
    font-size: 3.5em;
  }
  .text p {
    font-size: 1.25em;
  }

  .phone {
    margin-left: 15em;
  }
}
@media (min-width: 80em) {
  .phone {
    margin-left: 25em;
  }
}
